.fp-panel {
  background: #FFF;
  z-index: 1000;
  color: #444;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding: 20px 20px 0;
  position: absolute;
  width: calc(75% - 40px);
  height: calc(100%);
  right: -75%;
  -webkit-transition: right 0.25s linear;
  -moz-transition: right 0.25s linear;
  -ms-transition: right 0.25s linear;
  -o-transition: right 0.25s linear;
  transition: right 0.25s linear;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: solid 1px #CCC;
  display: flex;
  flex-direction: column;
}

.fp-panel.fp-visible {
  right: 0;
  margin-right: 0;
}

.fp-panel .fp-panel-head {
  margin: 0px 10px 20px;
}

.fp-panel .fp-panel-head h2 {
  margin-top: 0;
}

.fp-panel .fp-panel-head .fp-panel-filter a {
  margin: 0;
  padding: 10px;
  min-width: 0;
  width: auto;
  background-color: #EEE;
  color: #444;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear 0s, color 0.2s linear 0s;
  -moz-transition: background-color 0.2s linear 0s, color 0.2s linear 0s;
  -ms-transition: background-color 0.2s linear 0s, color 0.2s linear 0s;
  -o-transition: background-color 0.2s linear 0s, color 0.2s linear 0s;
  transition: background-color 0.2s linear 0s, color 0.2s linear 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fp-panel .fp-panel-head .fp-panel-filter a + a {
  border-left: solid 1px #F9F9F9;
}

.fp-panel .fp-panel-head .fp-panel-filter a.fp-active {
  color: #FFF;
  background-color: #2196F3;
}

.fp-panel .fp-panel-head .fp-panel-filter a.fp-active:hover {
  color: #FFF;
  background-color: #0d8aee;
}

.fp-panel .fp-panel-head .fp-panel-filter a:hover {
  color: #444;
  background-color: #e1e1e1;
}

.fp-panel .fp-panel-head .fp-panel-filter a.fp-hidden {
  display: none;
}

.fp-panel .fp-panel-body {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: scroll;
}

.fp-panel .fp-panel-body .fp-panel-panel .fp-panel-blocks-wrapper {
  display: none;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  width: 100%;
}

.fp-panel .fp-panel-body .fp-panel-panel .fp-panel-blocks-wrapper.fp-visible {
  display: block;
}

.fp-panel .fp-panel-body .fp-panel-panel .fp-panel-blocks-wrapper img {
  width: 100%;
  border: solid 1px #EFEFEF;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.1s linear, border 0.1s linear;
  -moz-transition: box-shadow 0.1s linear, border 0.1s linear;
  -ms-transition: box-shadow 0.1s linear, border 0.1s linear;
  -o-transition: box-shadow 0.1s linear, border 0.1s linear;
  transition: box-shadow 0.1s linear, border 0.1s linear;
}

.fp-panel .fp-panel-body .fp-panel-panel .fp-panel-blocks-wrapper img:hover {
  border: solid 1px #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body.fp-panel-visible {
  overflow: hidden;
}

.fp-btn-group {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  overflow: hidden;
  display: inline-block;
}

.fp-btn-group .fp-btn.fp-active {
  background: #EDEDED;
}

.fp-btn-group + .fp-btn-group {
  margin-left: 10px;
}

.fp-btn {
  background-color: #FFF;
  border: none;
  height: 38px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -ms-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  outline: none;
  padding: 0 9px;
  margin: 0;
  font-size: 15px;
  float: left;
}

.fp-btn:hover {
  background-color: #e0e0e0;
}

.fp-btn:focus {
  outline: none;
}

.fp-btn svg {
  width: 20px;
  height: 20px;
  margin: 9px auto;
  fill: #252525;
  -webkit-transition: fill 0.2s linear;
  -moz-transition: fill 0.2s linear;
  -ms-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.fp-btn.fp-hidden {
  display: none;
}

.fp-btn.fp-active svg {
  fill: #2196F3;
}

.fp-btn.fp-disabled svg {
  fill: #CCC;
}

.fp-btn.fr-btn-type-html {
  padding: 0 15px;
}

.fp-btn.fp-remove-btn:hover svg {
  fill: #F44336;
}

.fp-download-btn {
  background: #2196F3;
  color: #FFF;
  display: flex;
  padding: 0 25px;
}

.fp-download-btn svg {
  fill: #FFF;
}

.fp-download-btn span {
  margin-left: 5px;
}

.fp-download-btn:hover {
  background: #1d84d6;
}

.fp-download-btn:disabled {
  opacity: 0.5;
  cursor: auto;
}

.fp-download-btn:disabled:hover {
  background-color: #2196F3;
}

.fp-btn-zone {
  flex: 1;
}

body.fp-dragging div.fp-block-toolbar {
  display: none !important;
}

div.fp-block-toolbar {
  position: fixed;
  display: none;
  opacity: 0.85;
  filter: alpha(opacity=85);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div.fp-block-toolbar:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

div.fp-block-toolbar.fp-visible {
  display: block;
}

div.fp-page-toolbar {
  position: relative;
  z-index: 10001;
  display: flex;
  padding: 10px 20px;
  background: #373737;
}

div.fp-page-toolbar #fp-rp-zone {
  display: flex;
  justify-content: flex-end;
}

div.fp-page-toolbar #fp-lp-zone {
  display: flex;
  justify-content: flex-start;
}

div.fp-page-toolbar #fp-cp-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 300;
  color: #DDD;
}

.fp-element {
  height: 100%;
  width: 100%;
  -webkit-transition: transform 0.25s linear;
  -moz-transition: transform 0.25s linear;
  -ms-transition: transform 0.25s linear;
  -o-transition: transform 0.25s linear;
  transition: transform 0.25s linear;
  transform-origin: 0 0;
  background: #DEDEDE;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.fp-element.fp-view-small {
  padding: 10px;
}

.fp-element > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

html, body {
  height: 100%;
}

body.fp-add-view {
  background: #DEDEDE;
}

body.fp-add-view .fp-element {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform-origin: 25px 25px;
  float: left;
  height: calc(400% - 200px);
  overflow: scroll;
}

body.fp-add-view .fp-container.fp-no-block .fp-element {
  display: none;
}

body.fp-add-view .fp-container.fp-no-block .fp-drop-zone {
  display: flex;
}

body.fp-full-view .fp-element > iframe {
  height: 100% !important;
}

body .fp-license-error {
  text-align: center;
}

.fp-container {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.fp-container .fp-drop-zone {
  display: none;
  width: 25%;
  height: 150px;
  margin: 20px;
  background: #F5F5F5;
  border: solid 3px #F5F5F5;
  float: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #454545;
  position: relative;
  z-index: 9998;
}

.fp-container .fp-drop-zone p {
  margin: 0;
}

.fp-container .fp-drop-zone p + p {
  margin-top: 5px;
  font-size: 16px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.fp-container .fp-drop-zone #fp-drop-visual {
  position: absolute;
  top: 100%;
  margin-top: -15px;
  overflow: visible;
  width: 50%;
  right: -35px;
}

.fp-container .fp-drop-zone #fp-drop-visual svg {
  width: 100%;
  fill: #919191;
}

.fp-container .fp-drop-zone.fp-hover {
  background: #FFF;
  border: solid 3px #2196F3;
}

/*# sourceMappingURL=froala_pages.css.map */