<template>
    <div>
        <div id="froala-editor" v-html="content.html">  </div>

        <div class="floatingButton" v-if="allowed.edit_pages">
            <a href="#" @click.prevent="editOff" v-visible="this.editing" ><i class="fa fa-check"></i></a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'EditorComponent',
        data () {
            return {
                allowed:{
                    edit_pages: false,
                },
                producer: "sandro",
                editor:"",
                editing: true,
                content:"",
                per_slug:[
                    {key:"edit", slug: "pages"},
                ],
                pageId: ""
            }
        },
        mounted() {


            this.pageId = this.getVariable("pageId");

            this.getContent();
            this.getPermissions();

            setTimeout(()=>{
                this.editOn();
            },2000);

        },
        methods: {

            getContent(){
                this.$api.get('page/'+this.pageId).then(res => {

                    if(res.data.redirect !== false){
                        window.location.href = res.data.redirect;
                    }else if (res.data.success) {
                        this.content = res.data.result;

                    } else {
                        this.errors = res.data.error;
                    }
                });
            },

            declareEditor(){

                const pageId = this.pageId;

                this.editor = new FroalaEditor('div#froala-editor', {
                    key:"sZH1rD3C7B5C4C4A4iAa1Tb1YZNYAh1CUKUEQOHFVANUqD1G1F4H4B1C8C6D2C4B4==",
                    iconsTemplate: 'font_awesome_5',
                    toolbarInline: true,
                    charCounterCount: false,
                    dragInline: false,
                    // pluginsEnabled: ['image', 'link', 'align', 'colors', 'emoticons', 'paragraphFormat'],
                    toolbarButtons: [ 'bold', 'italic', 'underline','|', 'textColor', 'backgroundColor', '-', 'emoticons', 'insertImage',  'undo', 'redo', '|', 'fontFamily', 'fontSize', 'color', '|', 'paragraphFormat', 'paragraphStyle', '|', 'align', 'insertTable', 'insertLink', '|', 'fullscreen', 'html'],
                    zIndex: 10000,
                    initOnClick: true,
                    colorsHEXInput: false,
                    keepFormatOnDelete: true,
                    toolbarVisibleWithoutSelection: true,
                    // imageEditButtons: ['imageReplace'],

                    /* imageReplace */

                    linkEditButtons: ['linkEdit', 'linkButton', 'linkRemove'],

                    imageUploadParam: 'img',

                    // Set the image upload URL.
                    imageUploadURL: '/sudo/json/page/'+pageId+'/storeImage',

                    // Additional upload params.
                    imageUploadParams: {_token: document.querySelector('meta[name=csrf-token]').getAttribute('content')},
                    // Set request type.
                    imageUploadMethod: 'POST',


                    // Allow to upload PNG and JPG.
                    imageAllowedTypes: ['jpeg', 'jpg', 'png'],

                    events: {

                        'image.beforeUpload': function (images) {
                            // Return false if you want to stop the image upload.
                            console.log('before upload');
                        },
                        'image.uploaded': function (response) {
                            // Image was uploaded to the server.
                        },
                        'image.inserted': function ($img, response) {
                            // Image was inserted in the editor.
                        },
                        'image.replaced': function ($img, response) {
                            // Image was replaced in the editor.

                            console.log('replaced');
                        },
                        'image.error': function (error, response) {
                            // Bad link.
                            if (error.code == 1) {

                            }

                            // No link in upload response.
                            else if (error.code == 2) {


                            }

                            // Error during image upload.
                            else if (error.code == 3) {

                            }

                            // Parsing response failed.
                            else if (error.code == 4) {

                            }

                            // Image too text-large.
                            else if (error.code == 5) {

                            }

                            // Invalid image type.
                            else if (error.code == 6) {

                            }

                            // Image can be uploaded only to same domain in IE 8 and IE 9.
                            else if (error.code == 7) {

                            }


                            // Response contains the original server response to the request if available.
                        }
                    }


                });
            },

            editOn(){
                this.editing = true;
                if (this.editor !== ""){
                    this.editor.edit.on();
                } else {
                    this.declareEditor();
                }

            },
            editOff(){
                this.editing = false;
                // this.editor.html.get();
                /* todo save */

                this.save();


                this.editor.edit.off();
            },

            save(){
                this.$api.post('page/'+this.pageId+'/editor', {content:this.editor.html.get()}).then(res => {

                    if(res.data.redirect !== false){
                        window.location.href = res.data.redirect;
                    }else if (res.data.success) {
                        this.allowed = res.data.result;
                        window.location.reload();
                    } else {
                        this.errors = res.data.error;
                    }
                });
            },

            getPermissions(){
                this.$api.post('/permissions', {"per_slug":this.per_slug}).then(res => {

                    if(res.data.redirect !== false){
                        window.location.href = res.data.redirect;
                    }else if (res.data.success) {
                        this.allowed = res.data.result;
                    } else {
                        this.errors = res.data.error;
                    }
                });
            },

            getVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] === variable) {
                        return pair[1];
                    }
                }

            },

        }
    }
</script>

<style scoped>
    .fdb-block {
        /*margin: 20px 0;*/
    }

    .floatingButton {
        position: fixed;
        right: 40px;
        z-index: 11111111;
        bottom: 40px;
        height: 20px;
        width: 20px;
        border-radius: 30px;
    }
</style>
