@import "./includes/spinner.css";
//
@import "~froala-editor/css/froala_editor.pkgd.min.css";
.has-error {
    color: red;
}

.bread-actions {
    display: flex;
}

@import "./includes/css/froala_blocks.css";
#froala-editor {
    //@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

}






