<template>
    <div class="froala-container">
        <div id='container'></div>

    </div>
</template>

<script>
    export default {
        name: "FroalasComponent",
        data(){
            return {
                name: 'test',
                page: {},
                pageId: ""
            }
        },
        mounted() {

            this.pageid = this.getVariable("pageId");

            this.init();

        },
        methods: {

            init(){


                var that = this;
                FroalaPages.Button.Register('save', {
                    title: 'Save',
                    icon: {
                        type: 'html',
                        template: 'Save'
                    },
                    callback: function () {
                        console.log("saving");
                        that.gettingHtml().then(result=>{
                            console.log(result);
                        }).catch(err=>{
                            console.log("error"+err)
                        });
                    }
                });
                this.page = new FroalaPages('container',{
                    key : 'se1lijcGA5oC4I4B2C7D6E5fLUQZf1ASFb1EFRNh1Hb1BCCQDUHnA8B6E5C4B1C3C3A1B8A6==',
                    pageRightButtons: [
                        ['save']
                    ]
                });



            },

            logit(){
                console.log(this.page);
            },

            gettingHtml: async function() {
                return await this.page.getHTML();
            },



            get(page){
                console.log('that');
            },


            getVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] === variable) {
                        return pair[1];
                    }
                }

            },

            getPermissions(){
                this.$api.post('admin/json/permissions', {"per_slug":this.per_slug}).then(res => {

                    if(res.data.redirect !== false){
                        window.location.href = res.data.redirect;
                    }else if (res.data.success) {
                        this.allowed = res.data.result;
                    } else {
                        this.errors = res.data.error;
                    }
                });
            },






        }
    }
</script>

<style scoped>


    .froala-container {
        height: 100vh !important;
    }
    .savebtn {
        position: absolute;
        right: 10px;
        bottom: 60px;
        padding: 20px;
        border-radius: 30px;
        background-color: #0d8aee;
        color: #ffffff;
        z-index: 111111;
    }
    .savebtn a {

        color: #fff;
        text-decoration: none;

    }

</style>
